body {
    background-image: url("table.jpg");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    color: white;
    margin-top: 100px;
}

s1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

h1 {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 100px;
    color: rgb(6, 36, 1);
}

#message-el {
    font-style: italic;
    font-size: 35px;
}